body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* General Container for padding from the edges */
.container {
    padding: 0px 156px;
}
/* Button common style */
button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: 16px;
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    align-items: center;
}

header h1 {
    font-size: 24px;
    color: #f9faf8;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 24px;
}

header ul li a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Footer Styling */
footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* Sign up section */
.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 48px 0px;
    margin: 78px 0px;
    border-radius: 18px;
}

.sign-up h2, .sign-up p {
    margin: 0;
    padding: 0;
}

.sign-up-btn {
    border-color: #f9faf8;
}